<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>Blogging</title>
  <script crossorigin src="https://unpkg.com/react@15/dist/react.min.js"></script>
  <script crossorigin src="https://unpkg.com/react-dom@15/dist/react-dom.min.js"></script>
  <script crossorigin src="https://unpkg.com/prop-types/prop-types.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/remarkable/1.6.2/remarkable.min.js"></script>
  <link rel="shortcut icon" href="/assets/img/favicon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Cinzel" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body>
    <p style='visibility:hidden;font-family: Cinzel, serif;'>aaaa</p>
    <h1>Welcome Back</h1>
    <hr>
  <nav>
    <div class="navlink2">
        <div id='no1'><a id='exploreButton' href="/loginExplore">Explore</a></div>
        <div id='no2'><a id='personalButton' href="/maker">Personal Blog</a></div>
        <div id='no3'><a id="searchButton" href="/searchbar">Search</a></div>
        <div id='no4'><a id='premiumButton' href="/premium">Upgrade To premium</a></div>
        <div id='no5'><a id='changeButton' href="/changePass">Change Password</a></div>
        <div id='no6'><a href="/logout">Log out</a></div>
      </div>
  </nav>
    <hr>
  <section id="content"></section>
      <section id="createCSS">
          
  </section>
    <section id='createContext'>
        
    </section>
    <div id="domoMessage">
    <h3><span id="errorMessage"></span></h3>
    </div>
  <script src="/assets/bundle.js"></script>
</body>
</html>